/* @override http://localhost:4040/styles/main.css */

/* Will be compiled down to a single stylesheet with your sass files

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
*/

@import url('../bower_components/bootstrap/dist/css/bootstrap.css');
@import url('../bower_components/bootstrap/dist/css/bootstrap-theme.css');
@import url("../bower_components/bootstrap-colorpicker/css/colorpicker.css");
@import url("../bower_components/bootstrap-timepicker/css/bootstrap-timepicker.css");
@import url("../bower_components/bootstrap-datepicker/css/datepicker3.css");

@import url("../bower_components/bootstrap-wysihtml5/src/bootstrap-wysihtml5.css");

@import url("styles.css");

.passbook-badge{
	height:35px;
	margin: 5px auto;
}
input[type=text]{
}

body{
	padding-top: 55px;
}

.blank-slate {
	text-align: center;
}

.blank-slate p{
	font-weight: bold;
}

 hr{

}
.hero-unit{
	margin-top: 25px;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
	color: #eee;
	background: -webkit-linear-gradient(45deg, #111 0%,#444 100%) !important;
	background: -o-linear-gradient(45deg, #111 0%,#444 100%);
	background: -ms-linear-gradient(45deg, #111 0%,#444 100%);
	background: linear-gradient(45deg, #111 0%,#444 100%) !important;

	background: #111;
	padding: 25px 25px 10px;
}
.pass-carousel img{
	width: 100%;

}
.pass-carousel{
	padding: 2px;
	height: 250px;

	overflow: hidden;

}

#iconCarousel {
overflow: hidden;
border: 3px solid #000;
background: #000;
}
.nav-list li a:hover
.nav ul li a:hover {
	color: #222;
	      background: #fff !important;
	 -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;

}
.navbar-fixed-top .navbar-inner {

	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;

	box-shadow: 0px 1px 1px #000;



}
