/* @override http://localhost:4040/styles/styles.css */
.th-type{
  width:75px;
  text-align: center;
}
.td-actions{
    width:110px;
    text-align: center;
}
.pass{
	border: 1px solid #ccc;
	background-color: #eee;
}

.pass {


	margin: 10px auto;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-background-clip: padding-box;
	text-shadow: 0px 1px 1px rgb(0,0,0,.35);
	font-size: 14px;

	padding: 7px 10px;
	overflow: hidden;
}


.pass img.media-object.object {
	height: 100px;
}

div.back {
	display: none;
}

dd{
	font-size: 26px;
}

dt{
	font-size: 12px;
	font-weight: bold;
	color: #888;
	margin-top: 5px;
	padding: 5px;
}

div.pass-header {
	border-bottom: 1px solid #ccc;
	padding-left: 2px;
}

div.pass-header i {
	margin-right: 5px;
}
.pass-header h1{
		padding: 0;
		margin: 0;
	font: 24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}



.pass .object {

}

.pass dt {

}

.pass dd {
	line-height: 1em;
}
