<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>passbook-manager</title>
  <link rel="stylesheet" href="public/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="public/styles/main.css">

<!--
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">


-->
  <!-- jQuery first, then Bootstrap JS.
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css" media="screen" >
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
-->

  <script src="public/scripts/vendor.js"></script>
  <script src="public/scripts/scripts.js"></script>
  <script src="public/scripts/app.js"></script>

  
  <style>
      body    { padding-top:65px; }
  </style>
</head>
<!-- views/partials/head.ejs -->
