


<div id="passModal" class="modal fade">
	<div class="modal-dialog modal-m" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Select Pass Type</h4>
			</div>
			<div class="modal-body">

				<form id="passForm" class="form-horizontal clearfix">
					<label class="radio-inline">
						<input type="radio" name="passType" id="radio1" value="boardingPass"> Boarding Pass
					</label>

					<label class="radio-inline">
						<input type="radio" name="passType" id="radio2" value="coupon"> Coupon
					</label>

					<label class="radio-inline">
						<input type="radio" name="passType" id="radio3" value="eventTicket"> Event Ticket
					</label>
					<label class="radio-inline">
						<input type="radio" name="passType" id="radio4" value="generic"> Generic
					</label>
					<label class="radio-inline">
						<input type="radio" name="passType" id="radio5" value="generic"> Store Card
					</label>
					<!--

                             <label class="radio-inline">
                                 <img alt="boardingPass Icon" class="pass-icon" src="/img/boardingPass.png">
                                 <br/>
                                 <input type="radio" name="type" value="boardingPass">
                             </label>

                             <label class="radio-inline">
                                 <img alt="Generic Icon" class="pass-icon" src="/img/generic.png">
                                 <br/>

                                 <input type="radio" name="type" value="generic">
                             </label>
-->
				</form>


			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary">Next</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
