temp
dist
node_modules
bower_components
app/bower_components/
db.json
app/components
.DS_Store
db
.idea
.project

.tmp
www
*.log
atlassian-ide-plugin.xml

.c9
.git

# Data store
#data
temp.json
data.json

coverage
test/temp
