.tern-project
.tmp
.DS_Store
.idea
.project
*.log
.c9
.git
.settings

temp
dist
node_modules
bower_components
app/bower_components/
db.json
app/components

db


www

atlassian-ide-plugin.xml



# Data store
#data
temp.json
data.json

coverage
test/temp
