<div class="pass-field-group">
  <formitem data-index="{{$index}}" title="{{label}} #{{$index}}:" ng-animate="'animate'" ng-repeat="a in fields track by $index">

    <div class="controls-row meta-row">
      <input type="text" name="key" ng-model="a.key" class="form-control" placeholder="Key">
      <input type="text" name="label" ng-model="a.label" class="form-control" placeholder="Label">
      <input type="text" name="value" ng-model="a.value" class="form-control" placeholder="Value">
      <p class="help-inline">
        <button class="btn btn--outline btn-mini remove-btn" type="button" ng-click="remove($index)">

          <i class="fa fa-lg fa-times-circle"></i>
        </button>
      </p>
      <br>
    </div>

    <button class="add-btn btn btn-block btn--outline" ng-if="$last" ng-click="add()" type="button">
        <i class="fa fa-lg fa-plus"></i>
        Add
    </button>

  </formitem>

</div>