<% include ./partials/head %>
<body>

<% include ./partials/header %>


<main class="container-fluid">

<div class="jumbotron jumbotron- text-center">
	<h2 class="display-2">
		Pass Manager
	</h2>
	<p class="lead">Create and manage Apple Wallet Passes.</p>
	<p class="lead">

		<% if (!user) { %>
		<a href="/auth/github" class="btn btn-primary btn-lg btn-social btn-github">
			<i class="fa fa-github"></i>
			Sign in with Github
		</a>
		<% } else { %>
				<button class="btn btn-primary btn-lg"
				data-toggle="modal" data-target="#passModal">Create new pass</button>
		<% } %>


	</p>
</div>
	<div class="row">

		<div class="col-sm-6">
			<div class="card card-block">
				<h4 class="card-title">Card title</h4>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
					content.</p>
				<a href="#" class="card-link">Card link</a>
				<a href="#" class="card-link">Another link</a>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card card-block">
				<h4 class="card-title">Card title</h4>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
					content.</p>
				<a href="#" class="card-link">Card link</a>
				<a href="#" class="card-link">Another link</a>
			</div>
		</div>
	</div>








	<div id="passModal" class="modal fade">
		<div class="modal-dialog modal-m" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Select Pass Type</h4>
				</div>
				<div class="modal-body">

					<form id="passForm" class="form-horizontal clearfix">
						<label class="radio-inline">
							<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Generic
						</label>
						<label class="radio-inline">
							<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Boarding Pass
						</label>
						<label class="radio-inline">
							<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Event Ticket
						</label>
						<!--

								<label class="radio-inline">
									<img alt="boardingPass Icon" class="pass-icon" src="/img/boardingPass.png">
									<br/>
									<input type="radio" name="type" value="boardingPass">
								</label>

								<label class="radio-inline">
									<img alt="Generic Icon" class="pass-icon" src="/img/generic.png">
									<br/>

									<input type="radio" name="type" value="generic">
								</label>
-->
					</form>


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary">Create</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->




</main>



</body>
</html>
