<% include ./partials/head %>
<body>

<% include ./partials/header %>


<main class="container-fluid">

<div class="jumbotron jumbotron- text-center">
	<h2 class="display-2">
		Hello, Wallet.
	</h2>
	<p class="lead">Create and manage Apple Wallet Passes.</p>
	<p class="lead">

		<% if (!user) { %>
		<a href="/auth/github" class="btn btn-primary btn-lg btn-social btn-github">
			<i class="fa fa-github"></i>
			Sign in with Github
		</a>
		<% } else { %>
				<button class="btn btn-primary btn-lg"
				data-toggle="modal" data-target="#passModal">Create new pass</button>
		<% } %>
	</p>
</div>
	<div class="row">

		<div class="col-sm-6">
			<div class="card card-block">
				<h5 class="card-title">What is Apple Wallet?</h5>
				<p class="card-text">Apple Wallet is where you store and access all your boarding passes, movie tickets, retail coupons, and more.</p>
				<a href="https://developer.apple.com/library/ios/documentation/UserExperience/Reference/PassKit_Bundle/Chapters/Introduction.html#//apple_ref/doc/uid/TP40012026-CH0-SW1" target="_blank" class="card-link">More Info</a>

			</div>
		</div>
		<div class="col-sm-6">
			<div class="card card-block">
				<h5 class="card-title">What is Pass Manager?</h5>
				<p class="card-text">A web application that can be used to create, validate and manage various types of passes.</p>
				<a href="https://github.com/jonniespratley/jps-passbook-manager" target="_blank" class="card-link">View on Github</a>

			</div>
		</div>
	</div>









</main>


<% include ./partials/pass-modal %>

</body>
</html>
