<% include ./partials/head %>
<body class="container">
  <header>
      <% include ./partials/header %>
  </header>
  <main>

  </main>
  <footer><% include ./partials/footer %></footer>
</body>
</html>
