<% include ./partials/head %>
<body>

<% include ./partials/header %>


<main class="container-fluid">

<div class="jumbotron jumbotron- text-center">
	<h2 class="display-2">
		Hello, pass.
	</h2>
	<p class="lead">Create and manage Apple Wallet Passes.</p>
	<p class="lead">

		<% if (!user) { %>
		<a href="/auth/github" class="btn btn-primary btn-lg btn-social btn-github">
			<i class="fa fa-github"></i>
			Sign in with Github
		</a>
		<% } else { %>
				<button class="btn btn-primary btn-lg"
				data-toggle="modal" data-target="#passModal">Create new pass</button>
		<% } %>
	</p>
</div>
	<div class="row">

		<div class="col-sm-6">
			<div class="card card-block">
				<h4 class="card-title">What is Apple Wallet?</h4>
				<p class="card-text">Apple Wallet is where you store and access all your boarding passes, movie tickets, retail coupons, rewards cards, and more.</p>
				<a href="http://developer.apple.com/library/ios/#documentation/userexperience/conceptual/PassKit_PG/Chapters/Creating.html#//apple_ref/doc/uid/TP40012195-CH4-SW55" class="card-link">More Info</a>

			</div>
		</div>
		<div class="col-sm-6">
			<div class="card card-block">
				<h4 class="card-title">Card title</h4>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
					content.</p>
				<a href="#" class="card-link">Card link</a>
				<a href="#" class="card-link">Another link</a>
			</div>
		</div>
	</div>









</main>


<% include ./partials/pass-modal %>

</body>
</html>
