<!DOCTYPE html>
<html>
	<head>
		<title>Pass Manager</title>

		<link rel="stylesheet" href="./public/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

	</head>
	<body>
		<% if (!user) { %>
			<p>
			<a href="/">Home</a> |
			<a href="/login">Log In</a>
			</p>
		<% } else { %>
			<p>
			<a href="/">Home</a> |
			<a href="/account">Account</a> |
			<a href="/logout">Log Out</a>
			</p>
		<% } %>
		<%- body %>
	</body>
</html>
