<% include ./partials/head %>
<body>
  <header>
      <% include ./partials/header %>
  </header>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          <% if (!user) { %>
          	<div class="jumbotron">
          	  <h2>Welcome! Please log in.</h2>
            <p>
              <a href="/auth/github" class="btn btn-lg btn-social btn-github">
            	   <span class="fa fa-github"></span>
            	    Sign in with Github
              </a>
                     </p>
          	</div>



          <% } else { %>
          	<h2>Hello, <%= user.displayName %>.</h2>
          <% } %>

        </div>
      </div>
    </div>
  </main>
  <footer><% include ./partials/footer %></footer>
</body>
</html>
