<% include ./partials/head %>
<body>
  <header>
      <% include ./partials/header %>
  </header>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          <% if (!user) { %>
          	<div class="alert alert-info">
          	  <p>
                <strong>Hey!</strong> Please sign in.
              </p>
          	</div>
            <p>
              <a href="/auth/github" class="btn btn-block btn-lg btn-social btn-github">
                 <i class="fa fa-github"></i>
                  Sign in with Github
              </a>
            </p>
          <% } else { %>
          	<h2>Hello, <%= user.displayName %>.</h2>
          <% } %>

        </div>
      </div>
    </div>
  </main>
  <footer><% include ./partials/footer %></footer>
</body>
</html>
