<% include ./partials/head %>
<body>
  <header>
      <% include ./partials/header %>
  </header>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">





          <% if (!user) { %>

          	<div class="alert alert-info">
          	  <p>
                <strong>Info!</strong> Please sign in.
              </p>
          	</div>


        				<form action="/login" method="post">
        					<legend>Sign In</legend>
        					<fieldset class="form-group">
        					  <label>Username:</label>
        						<input type="text" name="username" class="form-control"/>
        					</fieldset>
        					<fieldset class="form-group">
        						<label>Password:</label>
        						<input type="password" name="password" class="form-control"/>
        					</fieldset>
        					<div>
        						<input type="submit" value="Sign in" class="btn btn-primary"/>
        					</div>
        				</form>
 <hr>
            <p>
              <a href="/auth/github" class="btn btn-block btn-lg btn-default btn-social btn-github">
                 <i class="fa fa-github"></i>
                  Sign in with Github
              </a>
            </p>
          <% } else { %>
          	<h2>Hello, <%= user.displayName %>.</h2>
          <% } %>

        </div>
      </div>
    </div>
  </main>

</body>
</html>
