<table id="passes-table" class="table table-hover table-condensed table-bordered table-striped"
		 ng-hide="pass._id">
	<thead>
	<tr>
		<th class="th-type">Type</th>

		<th>Description</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="pass in passes track by $index | orderBy:order:reverse" id="{{pass._id}}">
		<td class="pass-icon">
			<a>
				<img ng-src="img/{{pass.type}}.png" alt="{{pass.type}} Icon" class="pass-icon"/>

			</a>
		</td>
		<td>
			<a href="#/passes/{{pass._id}}"> {{pass.description}} </a>
			<br/>
			{{pass.organizationName}}

		</td>


		<td>
			<a ng-click="SmartPass.exportPass(pass)" href="" target="_blank">
				<img class="passbook-badge" src="./img/Add_to_Apple_Wallet_rgb_US-UK.svg">
			</a>

		</td>

	</tr>
	</tbody>
</table>
