<formitem title="{{label}} #{{$index}}:" ng-repeat="a in fields track by $index">
  <div class="controls-row meta-row">
    <input type="text" name="key" ng-model="a.key" class="form-control" placeholder="Key"/>
    <input type="text" name="label" ng-model="a.label" class="form-control" placeholder="Label"/>
    <input type="text" name="value" ng-model="a.value" class="form-control" placeholder="Value"/>
    <p class="help-inline">
      <button class="btn btn-default btn-mini remove-row-btn" type="button" ng-click="$parent.removeField($index)">
        <i class="fa fa-lg fa-times-circle"></i>
      </button>
    </p>
    <br/>
  </div>
  <button class="btn btn-block btn-default"
      ng-if="$last"
      ng-click="addField()">
      <i class="glyphicon glyphicon-plus"></i> Add
  </button>
</formitem>
