
<div id="main-row" class="row-fluid">
	<div class="span12">
		<div class="hero-unit">
			<div class="row-fluid feature-row">
			    <div class="span8">
			        <h1 class="ng-binding">Easy Passes</h1>
			        <p class="ng-binding">
			            With this interface you can easily create Apple iOS Passbook Passes.
			        </p>
					<p>
							<a class="btn btn-large btn-inverse" data-toggle="modal" ng-click="SmartPass.clearPass();" href="#/manage" ><i class="icon-pencil icon-2x pull-left"></i>Start using<br/> Manager</a>
						<a class="btn btn-large btn-github" href="https://github.com/jonniespratley/jps-passbook-manager" target="_blank" onclick="_gaq.push(['_trackEvent', 'Outbound Link', 'View Project on GitHub']);">
						            <i class="icon-github icon-2x pull-left"></i>
						            View Project<br>on GitHub</a>
					
					</p>	            
			    </div>
			    <div class="span4">
					<div id="iconCarousel" class="carousel slide">
					        <!-- Carousel items -->
					        <div class="carousel-inner">
					          <div class="item active"><div><img ng-src="http://1ff1217913c5a6afc4c8-79dc9bd5ca0b6e6cb6f16ffd7b1e05e2.r26.cf1.rackcdn.com/img/passbook-hero.png"/></div></div>
					          <div class="item"><div><i class="icon-cloud-download"></i></div></div>
					          <div class="item"><div><i class="icon-lightbulb"></i></div></div>
					          <div class="item"><div><i class="icon-group"></i></div></div>
					          <div class="item "><div><i class="icon-ambulance"></i></div></div>

					        </div>
					        <!-- Carousel nav -->
					        <a class="carousel-control left" href="#iconCarousel" data-slide="prev" onclick="_gaq.push(['_trackEvent', 'iconCarousel', 'Prev']);">
					        </a>
					        <a class="carousel-control right" href="#iconCarousel" data-slide="next" onclick="_gaq.push(['_trackEvent', 'iconCarousel', 'Next']);">
					        
					</a>
					      </div>
			      
			    </div>
			</div>
		</div>

		<div id="info-row" class="row-fluid">
			<div class="span6">
					<h4 class="title">What is Passbook?</h4>
					<p>Passbook is Apple's new feature for iPhone and iPod touch on iOS 6. Passbook lets you store your digital tickets, boarding passes, and coupons. You can find more recommended Passbook Apps <a href="#other-pass-apps">here</a>.</p>
			</div>
			<div class="span6">
				<h4>Developer API</h4>
				<p>For more information about developing for Passbook please refer to the 
		            <a href="http://developer.apple.com/library/ios/#documentation/userexperience/conceptual/PassKit_PG/Chapters/Creating.html#//apple_ref/doc/uid/TP40012195-CH4-SW55" target="_blank">Passbook Programming Guide</a>.
			   </p>        
			</div>	
		</div>

		
	</div>
</div>
<div id="main">
	
</div>