  <div class="row">
    <div class="col-sm-12">
      <div class="card">

        <div class="card-block">
          <fieldset>
            <legend>Pass Identifiers</legend>
            <p>
              Passes are cryptographically signed and compressed before being distributed.
            </p>
              <form id="passTypeIdentifierForm" enctype="multipart/form-data" ng-submit="handleFormSubmit(formData)">


                    <input type="text" name="passTypeIdentifier" ng-model="formData.passTypeIdentifier" class="form-control" placeholder="Identifier" required/>
                    <input type="text" name="passphrase" ng-model="formData.passphrase" class="form-control" placeholder="Passphrase" required=""/>
                    <input type="file" name="file" ng-model="formData.file">

                  <button class="btn btn-block btn-default btn--outline" type="button"
                        ng-click="user.passTypeIdentifiers.push({})">
                      <i class="fa fa-lg fa-plus"></i>
                        Add
                  </button>

                  <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </fieldset>
        </div>
      </div>
    </div>
  </div>
  <pre>{{formData | json}}</pre>
  <pre>{{user | json}}</pre>
