<div class="row">
	<div class="col-sm-12">
		<div class="hero">
			<legend>Pass Identifiers</legend>
			<p>
				Passes are cryptographically signed and compressed before being distributed.
			</p>
		</div>	
		<div class="card">

			<div class="card-block">
				<fieldset>
					<legend>New Identifier</legend>
					<form id="passTypeIdentifierForm" enctype="multipart/form-data" ng-submit="handleFormSubmit(formData)">

						<div class="clearfix">
							<label for="">Identitier [0]</label>
							<button class="btn btn- btn-success btn--outline" type="button" ng-click="user.passTypeIdentifiers.push({ passTypeIdentifier: 'name'})">
                      <i class="fa fa-lg fa-plus"></i>
                  </button>
									<label for="passTypeIdentifier">passTypeIdentifier</label>
									<input type="text" name="passTypeIdentifier" ng-model="formData.passTypeIdentifier" class="form-control" placeholder="Identifier" required/>

									<label for="passphrase">passphrase</label>
									<input type="text" name="passphrase" ng-model="formData.passphrase" class="form-control" placeholder="Passphrase" required="" />

									<label for="p12">.p12 Cert</label>
									<input type="file" name="file" ng-model="formData.file">

									<br>

									<div class="form-actions">
										<button type="submit" class="btn btn-primary">Save</button>
									</div>
						</div>


					</form>
				</fieldset>
			</div>
		</div>
	</div>
</div>

<pre>formData: {{formData | json}}</pre>
<pre>user: {{user | json}}</pre>
