<div class="row">
	<div class="col-sm-12">
		<ol class="breadcrumb">
			<li><a href="#/">Home</a></li>
			<li><a href="#/passes">Passes</a></li>
			<li class="active">Details</li>
		</ol>

		<div class="row">

			<div class="col-sm-9">

					<div ng-include src="'./views/passes_add.html'"></div>
			
			</div>

			<div class="col-sm-3">
				<div class="well well-sm clearfix">

					<button ng-click="savePass(pass)" class="btn btn-primary btn-block">
						Save
					</button>
				</div>

				<div class="scan-pass text-center well well-sm">
					<a href="/api/v1/export/{{pass._id}}" target="_blank">
						<img class="passbook-badge" src="./img/Add_to_Apple_Wallet_rgb_US-UK.svg">
					</a>
					<div id="pass-barcode" ng-barcode text="{{pass._id}}"></div>
					<small>To scan, just open Wallet on your iPhone and select Scan Code.</small>
				</div>
			</div>
		</div>

	</div>
</div>
