<div class="row">
	<div class="col-sm-12">
		<formitem title="Pass Type:">
			<select ng-model="pass.type"
			ng-change="loadSchema(t)"
			ng-options="t.name as t.title for t in passTypes"></select>
		</formitem>


		<tabs>

			<pane title="Details">
				<fieldset>
					<legend>Primary</legend>
					<formitem title="Organization Name:">
						<input type="text" ng-model="pass.organizationName" class="form-control" />
					</formitem>
					<formitem title="Logo Text:">
						<input type="text" ng-model="pass.logoText" class="form-control" />
					</formitem>
					<formitem title="Description:">
						<textarea ng-model="pass.description" class="form-control"></textarea>
					</formitem>

				</fieldset>


			</pane>

			<pane title="Fields">
				<!-- @TODO: [Primary Fields] -->
				<fieldset>
					<legend>Primary</legend>
					<div id="pass-primaryFields" class="well well-sm">
						<formitem title="Primary Field #{{$index}}:" ng-repeat="a in pass[pass.type].primaryFields">
							<div class="controls-row meta-row">
								<input type="text" name="key" ng-model="a.key" class="form-control" placeholder="Key" />
								<input type="text" name="label" ng-model="a.label" class="form-control" placeholder="Label" />
								<input type="text" name="value" ng-model="a.value" class="form-control" placeholder="Value" />
									<p class="help-inline">
											<button class="btn btn-default btn-mini remove-row-btn" type="button"
																					  ng-click="pass[pass.type].primaryFields.splice($index, 1)">
																						Remove
											<span class="icon icon-minus"></span>
										</button>
									</p>
								<br/>
							</div>
						</formitem>
							<button class="btn btn-block btn-default" ng-click="pass[pass.type].primaryFields.push({})"> <i class="glyphicon glyphicon-plus"></i> Add </button>
					</div>
				</fieldset>


				<fieldset>

					<legend>
						Extra fields
					</legend>
					<div id="pass-extraFields" class="well well-sm">
						<formitem title="Extra Field #{{$index}}:" ng-repeat="a in pass[pass.type].auxiliaryFields">
							<div class="controls-row meta-row">
								<input type="text" name="key" ng-model="a.key" class="form-control" placeholder="Key" />
								<input type="text" name="label" ng-model="a.label" class="form-control" placeholder="Label" />
								<input type="text" name="value" ng-model="a.value" class="form-control" placeholder="Value" />
						<span class="help-inline"> <button
							type="button"
							class="btn btn-default btn-mini remove-row-btn"
							ng-click="pass[pass.type].auxiliaryFields.splice($index, 1)">
									<span
										class="icon icon-minus"></span>Remove
						</button>
						</span>
								<br/>
							</div>
						</formitem>
						<button type="button" class="btn btn-block btn-default" ng-click="pass[pass.type].auxiliaryFields.push({})">
							Add
						</button>
					</div>
				</fieldset>
				<!-- @TODO: [Back Fields] -->

				<fielset>
					<legend>
						Back fields
					</legend>
					<div id="pass-backFields" class="well well-sm">
						<formitem title="Back Field #{{$index}}:" ng-repeat="a in pass[pass.type].backFields">
							<div class="controls-row meta-row">
								<input type="text" name="key" ng-model="a.key" class="form-control" placeholder="Key" />
								<input type="text" name="label" ng-model="a.label" class="form-control" placeholder="Label" />
								<textarea class="form-control" name="value" ng-model="a.value">{{a.value}}</textarea>
						<span class="help-inline"> <button class="btn btn-mini btn-default remove-row-btn"
																		type="button"
																		ng-click="pass[pass.type].backFields.splice($index, 1)"> Remove
						</button> </span> &nbsp;
							</div>
						</formitem>
						<button type="button" class="btn btn-block btn-default" ng-click="pass[pass.type].backFields.push({})"> Add</button>

					</div>
				</fielset>

			</pane>


			<pane title="Locations">

				<!-- @TODO: [Locations] -->
				<fieldset>
					<legend>
						Locations
					</legend>
					<div id="pass-locationFields" class="well well-sm">
						<formitem title="Location #{{$index}}:" ng-repeat="l in pass.locations">

							<input type="text" name="latitude" ng-model="l.latitude" class="form-control" placeholder="Latitude" />
							<input type="text" name="longitude" ng-model="l.longitude" class="form-control" placeholder="Longitude" />
					<span class="help-inline"> <button class="btn btn-mini btn-default remove-row-btn"
																  type="button"
																  ng-click="pass.locations.splice($index, 1)">Remove
					</button> </span> &nbsp;

						</formitem>
						<button class="btn btn-block btn-default" type="button" ng-click="pass.locations.push({latitude: '37.6189722', longitude: '-122.3748889'})"> Add
						</button>
					</div>
				</fieldset>
			</pane>
			<pane title="Barcode">
				<!-- @TODO: [Barcode Fields] -->
				<fieldset>
					<legend>
						Barcode
					</legend>
					<div id="pass-barcodeFields" class="well well-sm">

						<formitem title="Format:">
							<select ng-model="pass.barcode.format" class="form-control" ng-options="format.name for format in SmartPass.barcodes"></select>
						</formitem>

						<formitem title="Messsage:">
								<textarea class="form-control" ng-model="pass.barcode.message"></textarea>
						</formitem>

						<formitem title="Image:">
							<div class="pass-qrcode-wrap">
								<div id="pass-qrcode"></div>
								<button type="button" ng-click="SmartPass.updatedQrcode(pass)" class="btn btn-default"> Refresh
								</button>
							</div>
						</formitem>

						<formitem title="Encoding:">
							<input type="text" ng-model="pass.barcode.messageEncoding" class="form-control" />
						</formitem>

					</div>
				</fieldset>

			</pane>
			<pane title="Style">
				<!-- @TODO: [Style Fields] -->
				<fieldset>
					<legend>
						Style
					</legend>

					<div id="pass-styleFields" class="well well-sm">
						<formitem title="Label Color:">
							<input type="text" ng-model="pass.labelColor" class="form-control" />
						</formitem>

						<formitem title="Foreground Color:">
							<input type="text" ng-model="pass.foregroundColor" class="form-control" />
						</formitem>

						<formitem title="Background Color:">
							<input type="text" ng-model="pass.backgroundColor" class="form-control" />
						</formitem>

						<formitem title="Icon:">
							<div id="PassIconDiv">
								<img id="pass_icon" alt="Pass Icon" src="http://placehold.it/72x72&text=icon.png" />
							</div>
							<input name="data[Pass][icon]" id="PassIcon" value="" type="file" class="form-control file-url-input">
						</formitem>

						<formitem title="Icon@2x:">
							<div id="PassIconDiv">
								<img id="pass_icon2x" alt="Pass Icon" src="http://placehold.it/150x150&text=icon@2x.png" />
							</div>
							<input name="data[Pass][icon2x]" id="PassIcon2x" value="" type="file" class="form-control file-url-input">
						</formitem>
					</div>
				</fieldset>
			</pane>
			<pane title="Identity">
				<!-- @TODO: [Identity Fields] -->
				<fieldset>
					<legend>
						Identity
					</legend>
					<div id="pass-identityFields" class="well well-sm">
						<p>
							To change these values, edit config.js
						</p>
						<formitem title="ID:">
							<input type="text" ng-model="pass._id" class="form-control" disabled=""/>
						</formitem>
						<formitem title="Identifier:">
							<input type="text" ng-model="pass.passTypeIdentifier" class="form-control" disabled="" />
						</formitem>
						<formitem title="Serial Number:">
							<input type="text" ng-model="pass.serialNumber" class="form-control" disabled=""/>
						</formitem>
						<formitem title="Team Identifier:">
							<input type="text" ng-model="pass.teamIdentifier" class="form-control" disabled=""/>
						</formitem>
						<formitem title="Web Service URL:">
							<input type="text" ng-model="pass.webServiceURL" class="form-control" disabled=""/>
						</formitem>
						<formitem title="Authentication Token:">
							<input type="text" ng-model="pass.authenticationToken" class="form-control" disabled="" />
						</formitem>
					</div>
				</fieldset>
			</pane>
		</tabs>






	</div>
</div>
