
<div class="row">
	<div class="col-sm-12">

			<form id="passForm" class="form-horizontal" ng-submit="SmartPass.savePass(pass);" ng-show="pass">


		<tabs>

			<pane title="Details">
				<fieldset>
					<legend>Primary</legend>
					<p>Fields to be displayed prominently on the front of the pass.</p>
					<formitem title="Pass Type:">
						<select ng-model="pass.type"
									class="form-control c-select"
								  ng-change="loadSchema(t)"
								  ng-options="t.name as t.title for t in passTypes"></select>
					</formitem>

					<formitem title="Organization:">
						<input type="text" ng-model="pass.organizationName" class="form-control"/>
					</formitem>
					<formitem title="Logo Text:">
						<input type="text" ng-model="pass.logoText" class="form-control"/>
					</formitem>
					<formitem title="Description:">
						<textarea ng-model="pass.description" class="form-control"></textarea>
					</formitem>

					<formitem title="Serial Number:">
						<input type="text" ng-model="pass.serialNumber" class="form-control"/>
					</formitem>
					<formitem title="Authentication:">
						<input type="text" ng-model="pass.authenticationToken" class="form-control"/>
					</formitem>
				</fieldset>
			</pane>

			<pane title="Fields">

				<!-- @TODO: [Primary Fields] -->
				<fieldset>
					<legend>Primary fields</legend>
					<p>
						 Fields to be displayed prominently on the front of the pass.
					</p>
					<div id="pass-primaryFields" class="well well-sm">
						<pass-field-group label="Primary Fields" fields="pass[pass.type].primaryFields">
						</pass-field-group>
					</div>
				</fieldset>
				<fieldset>
					<legend>
						Secondary fields
					</legend>
					<p>
						Fields to be displayed on the front of the pass.
					</p>
					<div id="pass-secondaryFields" class="well well-sm">
						<pass-field-group label="Secondary Fields" fields="pass[pass.type].secondaryFields"></pass-field-group>
					</div>
				</fieldset>

				<!-- @TODO: [Back Fields] -->
				<fielset>
					<legend>
						Back fields
					</legend>
					<p>
						Fields to be on the back of the pass.
					</p>
					<div id="pass-backFields" class="well well-sm">
						<pass-field-group label="Back Fields" fields="pass[pass.type].backFields"></pass-field-group>
					</div>
				</fielset>
			</pane>

			<pane title="Relevance">

				<!-- @TODO: [Locations] -->
				<fieldset>
					<legend>
						Locations
					</legend>
					<div id="pass-locationFields" class="well well-sm">

						<formitem title="Location #{{$index}}:" ng-repeat="l in pass.locations">
							<div class="controls-row">
								<input type="text" name="latitude" ng-model="l.latitude" class="form-control" placeholder="Latitude"/>
								<input type="text" name="longitude" ng-model="l.longitude" class="form-control" placeholder="Longitude"/>
								<input type="text" name="relevantText" ng-model="l.relevantText" class="form-control" placeholder="Relevant Text"/>
								<span class="help-inline">
									<button class="btn btn-mini btn-default remove-row-btn" type="button" ng-click="pass.locations.splice($index, 1)">
										<i class="fa fa-lg fa-times-circle"></i>
									</button>
								</span>
							</div>
						</formitem>

						<button class="btn btn-block btn-default" type="button"
								  ng-click="pass.locations.push({latitude: '37.6189722', longitude: '-122.3748889'})"> Add
						</button>
					</div>
				</fieldset>
				<!-- @TODO: [Beacons] -->
				<fieldset>
					<legend>
						Beacons
					</legend>

					<div id="pass-beaconFields" class="well well-sm">
						<p>
							Information about a location beacon.
						</p>

						<formitem title="Beacon #{{$index}}:" ng-repeat="l in pass.beacons">
							<input type="text" name="proximityUUID" ng-model="l.proximityUUID" class="form-control" placeholder="Proximity UUID"/>
							<input type="text" name="relevantText" ng-model="l.relevantText" class="form-control" placeholder="Relevant Text"/>
							<div class="controls-row">
								<input type="text" name="major" ng-model="l.major" class="form-control" placeholder="Major"/>
								<input type="text" name="minor" ng-model="l.minor" class="form-control" placeholder="Minor"/>

								<span class="help-inline">
									<button class="btn btn-mini btn-default remove-row-btn" type="button" ng-click="pass.beacons.splice($index, 1)">
										<i class="fa fa-lg fa-times-circle"></i>
									</button>
								</span>
							</div>
						</formitem>

						<button class="btn btn-block btn-default" type="button"
								  ng-click="pass.beacons.push({proximityUUID: '', major: 0, minor: 1, relevantText: 'Nearby'})"> Add
						</button>
					</div>
				</fieldset>


				<!-- @TODO: [Barcode Fields] -->
				<fieldset>
					<legend>
						Barcode
					</legend>
					<div id="pass-barcodeFields" class="well well-sm">

						<formitem title="Format:">
							<select ng-model="pass.barcode.format"
								ng-selected="pass.barcode.format"
									  class="form-control c-select"
									  ng-options="format.name for format in barcodes"></select>
						</formitem>

						<formitem title="Messsage:">
								<textarea class="form-control"
											ng-change="updateQrcode(pass)"
											 ng-model="pass.barcode.message"></textarea>
						</formitem>

						<formitem title="Image:">
							<div class="pass-qrcode-wrap">
								<div id="pass-qrcode"></div>
							</div>
						</formitem>

						<formitem title="Encoding:">
							<input type="text" ng-model="pass.barcode.messageEncoding" class="form-control" disabled=""/>
						</formitem>

					</div>
				</fieldset>
			</pane>

			<pane title="Visual">
				<!-- @TODO: [Style Fields] -->
				<fieldset>
					<legend>
						Style
					</legend>

					<div id="pass-styleFields" class="well well-sm">
						<formitem title="Label Color:">
							<input type="text" ng-model="pass.labelColor" ng-colorpicker class="form-control"/>
						</formitem>

						<formitem title="Foreground Color:">
							<input type="text" ng-model="pass.foregroundColor" ng-colorpicker class="form-control"/>
						</formitem>

						<formitem title="Background Color:">
							<input type="text" ng-model="pass.backgroundColor" ng-colorpicker class="form-control"/>
						</formitem>

						<formitem title="Icon:">
							<div id="PassIconDiv">
								<img id="pass_icon" alt="Pass Icon" src="http://placehold.it/72x72&text=icon.png"/>
							</div>
							<input name="data[Pass][icon]" id="PassIcon" value="" type="file"
									 class="form-control file-url-input">
						</formitem>

						<formitem title="Icon@2x:">
							<label class="file">
								<input type="file" id="file">
								<span class="file-custom"></span>
							</label>
							<div id="PassIconDiv">
								<img id="pass_icon2x" alt="Pass Icon" src="http://placehold.it/150x150&text=icon@2x.png"/>
							</div>
							<input name="data[Pass][icon2x]" id="PassIcon2x" value="" type="file"
									 class="form-control file-url-input">
						</formitem>
					</div>
				</fieldset>
			</pane>


			<!-- @TODO: [Identity Fields] -->
			<pane title="Identity">
				<fieldset>
					<legend>
						Identity
					</legend>
					<div id="pass-identityFields" class="well well-sm">

						<formitem title="ID:">
							<input type="text" ng-model="pass._id" class="form-control" disabled=""/>
						</formitem>
						<formitem title="Identifier:">
							<input type="text" ng-model="pass.passTypeIdentifier" class="form-control" disabled=""/>
						</formitem>

						<formitem title="Team Identifier:">
							<input type="text" ng-model="pass.teamIdentifier" class="form-control" disabled=""/>
						</formitem>
						<formitem title="Web Service URL:">
							<input type="text" ng-model="pass.webServiceURL" class="form-control" disabled=""/>
						</formitem>
						<formitem title="Version:">
							<input type="text" ng-model="pass.formatVersion" class="form-control" disabled=""/>
						</formitem>

					</div>
				</fieldset>
			</pane>
		</tabs>

</form>
	</div>
</div>
