<div class="row">
	<div class="col-sm-12">
		<ol class="breadcrumb">
			<li><a href="#/">Home</a></li>
			<li><a href="#/passes">Passes</a></li>
			<li class="active">{{pass._id}}</li>
		</ol>

		<div class="row">
			<div class="col-md-7">
				<div ng-include src="'./views/_pass-form.html'"></div>
				<!--
<div ng-include src="'./views/_pass-raw.html'"></div>
	 -->

			</div>
			<div class="col-md-5">
<!--
				<div ng-include src="'./views/_pass-preview.html'"></div>
			-->


				<div class="scan-pass text-center well well-sm">

					<div id="pass-barcode"
						ng-barcode
						text="{{pass.webServiceURL}}/api/{{pass.formatVersion}}/scan/{{pass._id}}"></div>
					<p>
						<small>Open Wallet on your iPhone and select Scan Code.</small>
					</p>

					<a href="/api/v1/admin/passes/download/{{pass._id}}" target="_blank">
						<img class="passbook-badge" src="./images/Add_to_Apple_Wallet_rgb_US-UK.svg">
					</a>
				</div>
			</div>
		</div>

	</div>
</div>
