<div class="panel panel-default">
	<div class="panel-heading clearfix">
		<h3 class="panel-title pull-left">{{pass.description}}</h3>
		<div class="btn-group pull-right">
			<a ng-click="SmartPass.clearPass()" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Cancel</a>
			<a ng-click="SmartPass.savePass(pass)" class="btn btn-success" data-dismiss="modal"><i class="glyphicon glyphicon-ok"></i> Save</a>

		</div>
	</div>
	<div class="modal-body">


	
	</div>
	<div class="panel-footer">
		<small>Built with {{App.name}}</small>
	</div>
</div>

