<div class="container-fluid" ng-init="SmartPass.init()">
	<div class="row">
		<div class="col-sm-5 bootcards-list">
			<div class="bootcards-list">
				<div class="panel panel-default">
					<div class="panel-body">
						<form>
							<div class="row">
								<div class="col-xs-9">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Search Passes...">
										<i class="fa fa-search"></i>
									</div>
								</div>
								<div class="col-xs-3">
									<a class="btn btn-primary btn-block" href="" data-toggle="modal" data-target="#pass-modal"> <i class="fa fa-plus"></i> Add </a>
								</div>
							</div>
						</form>
					</div>

					<div class="list-group">
						<a class="list-group-item"
						ng-class="{selected:pass === SmartApp.selected}"
						href=""
						ng-click="SmartPass.selectPass(pass);"
						ng-repeat="pass in SmartPass.passes | orderBy:order:reverse | filter:passFilter"
						data-id="{{pass._id}}">
						<img ng-src="img/{{pass.type}}.png" alt="{{pass.type}} Icon" class="pass-icon pull-left img-rounded"/>
						<h4 class="list-group-item-heading"> {{pass.description}} </h4>
						<p class="list-group-item-text">
							{{pass.organizationName}}
						</p> </a>
					</div>

				</div>

			</div>
		</div>
		<div class="col-sm-7 bootcards-cards">

			<div
				ng-show="!editMode"
				ng-include
				src="'/views/_pass_file_card.html'"></div>

			<div
				ng-include
				src="'/views/_pass_modal.html'"></div>



		</div>
	</div>
</div>

<div class="container ">

	<div id="smartpass-row" class="row">

		<div class="col-sm-12 clearfix content" ng-include src="'/views/_pass_table.html'">




		</div>
	</div>
</div>
