<div class="clearfix">
	<div class="media" ng-repeat="pass in passes track by $index | orderBy:order:reverse" id="{{pass._id}}">
	  <a class="media-left" ng-href="#/passes/{{pass._id}}">
	    <img ng-src="img/{{pass.type}}.png" alt="{{pass.type}} Icon" class="media-object"/>
	  </a>
	  <div class="media-body">
	    <h5 class="media-heading">{{pass.description}}</h5>
	    {{pass.organizationName}}
	  </div>
	</div>
</div>
	<!--
	<div class="list-group">
  <a
		class="list-group-item"
		ng-href="#/passes/{{pass._id}}"
		ng-repeat="pass in passes track by $index | orderBy:order:reverse" id="{{pass._id}}">
    <h5 class="list-group-item-heading">{{pass.description}}</h5>
		<div class="pull-left media-object">
				<img ng-src="img/{{pass.type}}.png" alt="{{pass.type}} Icon" class="pass-icon"/>
		</div>
    <p class="list-group-item-text">{{pass.organizationName}}</p>
  </a>
</div>
-->

<!--
<div class="card">
  <img class="card-img-top" data-src="..." alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-block">
		<a class="card-link" ng-href="/api/v1/export/{{pass._id}}" target="_blank">
			<img class="passbook-badge"
			src="./img/Add_to_Apple_Wallet_rgb_US-UK.svg">
		</a>
  </div>
</div>
-->

	<!--
	<div ng-include="'./views/_pass-list.html'"></div>
	<div ng-include="'./views/_pass-table.html'"></div>
	-->
