<div class="row">
	<div class="col-sm-12">
		<ol class="breadcrumb">
	  	<li><a href="#/">Home</a></li>
		  <li class="active">Server</li>
		</ol>

		<legend>Logs</legend>
		<table id="logs-table" class="table table-condensed table-bordered">
			<thead>
			<tr>

				<th>Log</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in logs track by $index | orderBy:order:reverse"
			id="{{item._id}}">

				<td>
					<code class="code">{{item.data.logs.join('\n')}}</code>
				</td>
			</tr>
			</tbody>
		</table>

	</div>
</div>
