<div class="container" ng-init="Server.init()">
	<div class="row">
		<div class="col-sm-12">




			<div class="panel panel-default bootcards-summary">
				<div class="panel-heading">
					<h3 class="panel-title">Server Summary</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-3">
							<a class="bootcards-summary-item" href="#">
								<i class="fa fa-3x fa-users"></i>
								<h4>Contacts <span class="label label-info">432</span></h4> </a>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<small>Built with Bootcards </small>
				</div>
			</div>


			<!-- Table to display collection data -->

			<div class="row">
				<div class="col-sm-12">
					<table class="table table-condensed">
						<tr>
							<td>
								Date
							</td>
							<td>
								Log
							</td>
						</tr>
						<tbody>
							<tr ng-repeat="log in logs" ng-click="selectLog(log)">
								<td>
									{{log.created_at | date:'medium'}}
								</td>
								<td>
									{{selectedLog.logs.length}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>


			<!-- Remove / Refresh actions -->









			<form class="form-horizontal">

				<formitem title="Register Device:">
					<input type="text" value="{{SmartPass.api.url}}/{{pass.passTypeIdentifier}}/{{pass.serialNumber}}"
					class="form-control"/>
					<span class="help-block"><a ng-click="Api.registerDevice(pass);" class="label label-info">POST</a> Handles registering a device to recieve push notifications.</span>
				</formitem>
				<formitem title="Unregister Device:">
					<input type="text"
					value="{{SmartPass.api.url}}/devices/:uuid/{{pass.passTypeIdentifier}}/{{pass.serialNumber}}"
					class="form-control"/>
					<span class="help-block"> <a ng-click="Api.unregisterDevice(pass);" class="label label-info">DELETE</a> Handles unregistering a device.</span>
				</formitem>
				<formitem title="Get Passes on Device:">
					<input type="text"
					value="{{SmartPass.api.url}}/devices/:uuid/registrations/{{pass.passTypeIdentifier}}?passesUpdatedSince=:tag"
					class="form-control"/>
					<span class="help-block"> <a ng-click="Api.getPassesOnDevice(pass);" class="label label-info">GET</a> Handles getting the serial numbers for Passes associated with a device. </span>
				</formitem>
				<formitem title="Latest Version:">
					<input type="text" value="{{SmartPass.api.url}}/passes/{{pass.passTypeIdentifier}}/{{pass.serialNumber}}"
					class="form-control"/>
					<span class="help-block"><a ng-click="Api.getLatestVersion(pass);" class="label label-info">GET</a> Handles getting the serial numbers for Passes associated with a device. </span>
				</formitem>
			</form>

		</div>
	</div>
</div>
