<div class="control-group">
    <label for="name" class="control-label">name</label>
    <div class="controls">
        <%- contentTag('input', product.name, {type:'text', class:'span6', name:'name'}) %>
    </div>
</div>
<div class="control-group">
    <label for="description" class="control-label">description</label>
    <div class="controls">
        <%- contentTag('input', product.description, {type:'text', class:'span6', name:'description'}) %>
    </div>
</div>
<div class="control-group">
    <label for="price" class="control-label">price</label>
    <div class="controls">
        <%- contentTag('input', product.price, {type:'text', class:'span6', name:'price'}) %>
    </div>
</div>