<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>post  <%= post.id %></title>
  </head>
  <body>
    <h2>
      <%= post.title %>
    </h2>
  <p>
    <%= post.body %>
  </p>
  </body>
</html>
